apiVersion: v1
kind: Service
metadata:
  name: globeco-postgresql-headless
  namespace: globeco
spec:
  clusterIP: None
  selector:
    app: globeco-pricing-service-postgresql
  ports:
    - port: 5432
      targetPort: 5432
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: globeco-pricing-service-postgresql
  namespace: globeco
spec:
  serviceName: globeco-postgresql-headless
  replicas: 1
  selector:
    matchLabels:
      app: globeco-pricing-service-postgresql
  template:
    metadata:
      labels:
        app: globeco-pricing-service-postgresql
    spec:
      initContainers:
        - name: init-postgres-data
          image: busybox:1.35
          command:
            - /bin/sh
            - -c
            - |
              mkdir -p /var/lib/postgresql/data/pgdata
              chown -R 999:999 /var/lib/postgresql/data/pgdata
              chmod 700 /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: postgredb-storage
              mountPath: /var/lib/postgresql  # Changed here
      containers:
        - name: globeco-pricing-service-postgresql
          image: postgres:18.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_HOST_AUTH_METHOD
              value: "trust"
            - name: PGDATA
              value: "/var/lib/postgresql/data/pgdata"
          args:
            - "-c"
            - "listen_addresses=0.0.0.0"
          volumeMounts:
            - name: postgredb-storage
              mountPath: /var/lib/postgresql  # Changed here
      volumes:
        - name: postgredb-storage
          persistentVolumeClaim:
            claimName: pricing-service-postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: globeco-pricing-service-postgresql
  namespace: globeco
spec:
  selector:
    app: globeco-pricing-service-postgresql
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pricing-service-postgres-pvc
  namespace: globeco
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      app: pricing-service-postgres
      type: local